mixin btn(options = {})
  - const tag = options.href ? "a" : "button";
  - const href = options.href || false;
  - const defaultClass = options.href && !hasDefaultClass ? "link" : "btn";
  - const text = options.text || "";
  - const ariaLabel = options.ariaLabel || false;
  - const type = options.type || tag === "button" ? options.type || "button" : false;

  #{tag}(
    aria-label=ariaLabel,
    href=href,
    type=type
  )&attributes(attributes)
    if (text)
      span!= text
